<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <b>Dreams</b>
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only color="white" (click)="addDream()">
        <ion-icon name="add" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="dreams">
    <ion-list>
      <ion-card *ngFor="let dream of dreams" class="edgeless">
        <ion-item no-lines>
          <ion-avatar item-start>
            <img src="assets/imgs/avatar.png" alt="">
          </ion-avatar>
          {{dream?.title}}
          <br> by Ghost
          <button clear ion-button (click)="editDream(dream)" icon-only item-end>
            <ion-icon name="create" color="dark"></ion-icon>
          </button>
        </ion-item>
        <ion-card-content>
          <p>
            {{dream.description.substr(0,200) + '...'}}
          </p>
        </ion-card-content>
        <ion-item no-lines *ngIf="dream.tags">
          <span *ngFor="let tag of dream.tags">
            <ion-badge mode="ios" color="light">
              {{tag}}
            </ion-badge>
          </span>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="!dreams" class="centered">
    <ion-item no-lines center text-wrap>
      Ghost,you have no dreams saved. Wanna add some?
    </ion-item>
    <ion-item no-lines>
      <button ion-button block large color="secondary" icon-left (click)="addDream()">
        <ion-icon name="add" color="white"></ion-icon>
        Add Dream</button>
    </ion-item>
  </div>
</ion-content>